version: "3.8"

services:
  python-server:
    build:
      context: ./python-server
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./python-server/src:/app/src

  node-server:
    build:
      context: ./anythink-express-server
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    volumes:
      - ./anythink-express-server:/app
    command: node src/app.js
