version: "3.8"

services:
  python-server:
    build:
      context: ./python-server
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./python-server/src:/app/src

  node-server:
    build:
      context: ./anythink-express-server
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    volumes:
      - ./anythink-express-server:/app
    command: yarn start
  healthcheck:
  test:
    [
      "CMD-SHELL",
      "node -e \"require('http').get('http://localhost:8001', res => process.exit(res.statusCode === 200 ? 0 : 1)).on('error', () => process.exit(1))\""
    ]
  interval: 5s
  timeout: 3s
  retries: 5
