version: "3.8"

services:
  python-server:
    build:
      context: ./python-server
    ports:
      - "8000:8000"

  node-server:
    build:
      context: ./anythink-express-server
    ports:
      - "8001:8001"
    command: yarn start
