version: "3.8"

services:
  python-server:
    build:
      context: ./python-server
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./python-server/src:/app/src

  services:
  node-server:
    build:
      context: ./anythink-express-server
    ports:
      - "8001:8001"
    command: node src/app.js
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001"]
      interval: 5s
      timeout: 2s
      retries: 5
